<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>Above all, I am a student with great passion for learning and curiosity
  in computer technologies, acience, all forms of design,
  philosophy and so many other things in life.</<p>
